/* CSS Document */

body{
	background-color: #FFF;
}

.navbar-default{
	border: none;
	background-color: #E80008;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}

.navbar-default .navbar-nav > li > a:hover{
	color: white;
	text-decoration: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: white;
	background-color: #FF0009;
	text-decoration : none;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color: #333;
	background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

.clear10{
	height: 10px;
}

.intro-header{
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading{
	padding:50px 0 50px;
	color:#fff
}

@media only screen and (min-width:768px) {
	.page-heading{
		padding: 150px 0;
	}
}

.indent-paragraph{
	text-indent: 50px;
}

/* style Cari Asuransi */
.premium-illustration-content{
	background-color: #FFF;
}

.premium-table-section{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FFF;
}

.partner-option-content{
	background-color: #FFF;
}

.partner-option-section{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FFF;
}

/* style index */
.content-home-1{
	padding-bottom: 20px;
	background-color: #FFF;
}

.content-home-2{
	padding-bottom: 20px;
	background-color: #FFF;
}

.img-icon{
	margin: 20px 0 0 0;
}

/* style form pencarian premi */
.premium-search-box{
	border: 1px solid lightgray;
	margin: 20px 0;
	background-color: #FFF;
}

/* style Asuransi Kendaraan */
.auto-premium-search-form{
	background-color: #FFF;
}

.search-auto-price{
	padding-bottom: 20px;
	background-color: #FFF;
}

.learn-auto-insurance{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style Isi Data */
.fill-closing-form{
	padding-bottom: 20px;
	background-color: #FFF;
}

.closing-form{
	border: 1px solid lightgray;
	background-color: #FFF;
}

/* style Asuransi Properti */
.property-premium-search-form{
	background-color: #FFF;
}

.learn-property-insurance{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style FAQ */
.faq{
	padding-bottom: 20px;
	background-color: #FFF;
}

.faq ol li{
	font-weight: bold;
}

/* style Partner Kami */
.our-partner{
	padding-bottom: 20px;
	background-color: #FFF;
}

.our-partner-row{
	padding-bottom: 20px;
	text-align: center;
}

.our-partner-img{
	margin-top: 10px;
}

/* style Produk Kami */
.our-product{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style partner detail */
.about-partner{
	padding-bottom: 20px;
}

/* style Pesan */
.message{
	background-color: #FFF;
}

.message-box{
	padding-bottom: 20px;
}

/* style Kontak Kami */
.contact-us{
	background-color: #FFF;
}

/* style Login */
.login{
	background-color: #FFF;
}

/* style Daftar */
.registration{
	background-color: #FFF;
}

/* style Lupa Password */
.forgot-password{
	background-color: #FFF;
}

/* style Tentang Kami */
.about-us{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style Syarat dan Ketentuan */
.terms-agreement-content{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style Kebijakan Privasi */
.privacy-policy-content{
	padding-bottom: 20px;
	background-color: #FFF;
}

/* style untuk form */
.form-box{
	padding: 0px 15px;
	margin: 30px 0;
	border: 1px solid lightgray;
	background-color: #FFF;
}

.txtokupasi{
	margin-left: 15px;
	margin-right: 0px;
	cursor: pointer;
}

/* style Partner SolusiPremi */
.partner{
	background: #F7F7F7;
	padding-bottom: 20px;
}

/* style Berlangganan */
.newsletter{
	background: #E4E4E4;
	padding-bottom: 20px;
}

/* style footer */
.footer{
	background-color: #222;
	color: #FFF;
	padding-bottom: 15px;
}

.footer a:hover{
	color: #FFF;
	text-decoration: none;
}

.line-copyright{
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (max-width: 991px) {
	
	ul#top_tools,
	.sticky ul#top_tools {
		margin: 3px 45px 3 3;